page-home {
    #diferente{
        color:#ED6505 !important;
    }

    .color{
        color: #66030E !important;
    }
    ion-card{
        background:none !important;
    }
    ion-card-content{
        background:none !important;
    }
    ion-item{
        background : none !important;
    }
    
    #regper, #busPer{
        position: relative;
        width: 30% !important;
        margin: 0 auto !important;
    }
}
