page-perper {
    .ayuda{
        position: relative;
        z-index: 5;
        background: rgba(120,45,170,0.8);
        top:-60px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    .ayuda1{
        position: relative;
        z-index: 5;
        background: rgba(120,45,170,0.8);
        top:-40px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
}
